<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--单例、多例的转换可以根据scope属性改变（没有必要）-->
    <bean id="studentOne" class="com.bc.spring.pojo.Student" ></bean>
<!--    <bean id="studentTwo" class="com.bc.spring.pojo.Student"></bean>-->
</beans>